# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Test Cache
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db