{% extends 'base.html' %}

{% block content %}

<h2>Login</h2>

<form method="POST">

    {% csrf_token %}

    <p>
        Username:
        <input
            type="text"
            name="username"
        >
    </p>

    <p>
        Password:
        <input
            type="password"
            name="password"
        >
    </p>

    <button type="submit">
        Login
    </button>

    <p>
    Don't have an account?

    <a href="{% url 'register' %}">
        Register
    </a>
    </p>

</form>

{% endblock %}